body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('../assets/123.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.forgotPW-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

/***is this needed*/
  .form-side {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
  }
/***is this needed */


  .forgotPW-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    position: relative;
  }

.forgotPW-button {
  background-color: #1a73e8; /* Default blue */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgotPW-button:hover {
  background-color: #1557b0; /* Darker blue on hover */
}


.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #666;
  }
  
  .forgotPW-title {
    font-size: 24px;
    font-weight: 500;
    color: #333;
    margin-bottom: 10px;
  }
  
  .forgot-password-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
  }
  
  .send-button {
    width: 100%;
    padding: 12px;
    background-color: #1a73e8;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .send-button:hover {
    background-color: #1557b0;
  }


